@import url('https://fonts.googleapis.com/css?family=Paytone One');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/*estilização geral dos componentes*/
body{
  font-family: 'Paytone One';
  margin: 0;
  cursor: pointer;
  letter-spacing: .1em;
  color: #5a5a5a;
}
a,ul,li,h1,ol{
    text-decoration: none;
    list-style-type: none;
    
}
a,ul,li,h1,ol:hover{
    text-decoration: none;
}
hr.sections{
  margin-left: 0px;
  width: 62vw;
  border: 1px solid #494949;
}

button{
  background-color: #DD0122;
  border: none;
  outline: none;
  font-family: 'Montserrat';
  font-size: 15px;
  color:#FFFF;
  letter-spacing: .1em;
  cursor: pointer;
  height: 40px;
  padding: 0 15px 0 15px;/* topo | direita | inferior | esquerda */
}

button:hover {
  background-color: #FFFF;
  border: 1px solid  #DD0122;
  color: #DD0122;
}

input, select {
  outline: 0;
  border-width: 0 0 1.8px;
  border-color:#575656;
  padding: 12px 15px;
  margin: 8px 0;
  width: 90%;
  font-family: 'Montserrat';
  font-size: 15px;
}

/*estilo do fechamento dos modais*/
.fecharModal {
  float: right;
  color: #575656;
  font-size: 28px;
}

.fecharModal:hover,
.fecharModal:focus {
  color:#aaaaaa;
  text-decoration: none;
}

/*estilo da barra de navegação*/
#navbar {
  position: fixed; 
  width: 100%;
  height: 200px;
  z-index: 99;
  overflow: hidden;
  top: 0; 
  padding: 10px 10px; 
  transition: 0.4s; 
}

#navbarMenu{
  display: flex;
  flex-direction: row;
}

#navbar a {
  float: left;
  padding: 10px;
  color: #DD0122;
  font-family: 'Montserrat';
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}

#navbarBtns{
  display: flex;
  justify-items: center;
}

#navbarBtns button{
  border-radius: 30px;
  margin: 0px 10px;
}

.silhuette{
  width: 90px;
  height: 90px;
}
.bloodtype{
  width: 35px;
  height: 45px;
}
.historicodoador{
 
  width: 62vw;
  height: 200px;
  border: 1px solid red;
}

/*modal para o cadastro de doador ou de banco de sangue*/
#modalCadastro{
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 200px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 20px;
  border: 1px;
  width: 35%;
}

#cadastroTipos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 25px 10px 10px 10px; /* topo | direita | inferior | esquerda */
}

#tipoDoador, #tipoBanco{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 25px;
  color:#DD0122;
  line-height: 0.9;
}
.sou{
  color: #3f3f3f;
  font-family: 'Montserrat';
}

/*modal para o login de doador ou de banco de sangue*/
#modalLogin {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
}

/* estilo dos botões para escolher o tipo de login */
#loginOpcao button {
  background-color: inherit;
  letter-spacing: .1em;
  color:#DD0122;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 12px;
}

#loginOpcao button.active {
  border-bottom: 2px solid #DD0122;
}

/* estilo dos formulários de login */
.formLogin {
  display: none;
  padding: 20px 12px; /* topo | direita */
  border-top: none;
  align-items: center;
}
  
.display{
  display:block;
}
  
.loginTitulo{
  font-size: 1.2em;
  color:#1c023f;
}
  
.senha{
  font-family: 'Montserrat';
  font-size: 15px;
  color: #575656;
  letter-spacing: 0;
}
  
.formLogin button{
  border-radius: 20px;
  
  margin-top:15px;  
}

/* estilo do login pelas redes sociais */
.socialLoginBtn {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-top: 20px;
}

div.socialTitulo {
  height: .5px;
  width: 70%;
  margin-top: 30px;
  margin-left: 60px;
  background-color: #575656;
  text-align: center;
}

.socialTitulo span {
  background-color: white;
  position: relative;
  top: -1em;
  padding: 0 10px;
  font-family: 'Montserrat';
  font-size: 16px;
  color: #575656;
  letter-spacing: 0;
  
}

.socialLoginBtn button {
  font-size: 20px;
  height: 50px;
  width: 50px;
  padding: 0 5px 0 5px;/* topo | direita | inferior | esquerda */
  border-radius: 50%;
  margin: 0px 0px;
}

/* ...................................................DASHBOARD................................................ */
  /*estilização do corpo da homepage*/
main{
    position: relative;
    height: 100vh;
    margin-top: 60px;
  
  }

#mysidenav{
  position: fixed;
  width: 12vw;
  height: 100vh;
  padding: 10px;
  margin-top: -15px;
  /* background-color:rgb(14, 187, 58); */
}
#painel{
  margin: 0px auto;
  width: 100%;
  height: 1000px;
}
.sidelink{
  font-family: Montserrat;
  font-size: 0.8em;
  margin-left: -30px;
 
}
#central{
  margin-left: 13vw;
  width: 87vw;
  margin-top: -15px;
  height: auto;
  /* background-color:aqua; */
}
#boasvindas{
  padding: 30px;
  font-family: Montserrat;
  font-size: 1em;
   /* background-color:rgb(208, 221, 18); */
}
#historico{
  padding: 30px;
  font-family: Montserrat;
  font-size: 1em;
  /* background-color:rgb(179, 151, 243); */
}
.cadastroBtn{
  border-radius: 30px;
  margin: 0px 10px;
  outline: none;
}


/* ......................................................CADASTRO DASHBOARD */
/*estilização geral*/
form{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 65vw;
  margin: auto;
  box-sizing: border-box;
  padding: 5px;
  top:20px;
  /* background: black; */
}

label {
  color:#575656;
} 
p{
  color:#575656;
  font-size: 18px;
}

.dados{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 30px;
}

.dados section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1ch;
  width:45%;
  padding-top:5px;
}

#cepBusca{display: flex;}

#cepBusca button{
  border-radius: 20px;
  margin-left: 15px;
}

#senhaForm, #telefone{width: 24%;}

#numero{width: 8%;}

#endereco{width: 50%;}

#bairro, #complemento{width: 35%;}

select{width: 70%;}



/*estilização do cadastro de doador (pessoa física)*/
#cadastroDoador{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
  height: 90vh;
  margin: auto;
  padding: 5px;
  top:20px;
}

.fotoCadastro{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #EE0909;
}

#generoOpcao{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  top:-10px;
  color: #575656;
}

/*estilização do select do tipo sanguineo do doador*/
.tiposSanguineos {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;  
}

.tipo_sanguineo {
  background-color: #DD0122;
  border: .1px solid #DD0122;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  height: 65px;
  width: 65px;
  margin-top: -15px;
}
  
.tipo_sanguineo label {
  background: #FFFF no-repeat center center;
  display: block;
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  top: 1px;
  border-radius: 50%;
  padding-top: 14px;
  text-align: center;
  color:#DD0122;
  font-size: 20px; 
}

.tipo_sanguineo input:checked + label {
  background-color:#DD0122;
  color: #FFFF;
}

#cargoContato, #telefoneContato{width: 24%;}

#modalImage{
  display: none; 
  position: fixed; 
  z-index: 1; 

  padding-top: 200px; 
  left: 0;
  top: 0;

  width: 100%; 
  height: 100%; 
  overflow: auto;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 20px;
  border: 1px;
  width: 35%;
}

/* ...................................................ACCORDION */
.accordion {
  margin: auto;
  background-color: rgba(196, 194, 194, 0.308);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 85vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
 }

.active, .accordion:hover {
  background-color:#DD0122; 
  color: white;
  height: 50px;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: auto;
  min-height: 100px auto;
}
.nomeDoador{
  font-weight: bold;
  font: 1em sans-serif;
  text-transform: uppercase;
  color: #DD0122;
}


/* ................................................SILHUETA */

.silhuette2{
  /* background: #11ee09; */
  display: flex;
  width: 800px;
  height: auto;
  flex-wrap: wrap;
  margin-top: 3%;
  justify-content: center;
 
}
.silhuette2 div:nth-child(1){
    margin: 0px;
    width: 130px;
    /* background: #ee8309; */
  
}

.silhuette2 div:nth-child(2){
   padding-left: 40px;
   /* background: #04f0a1; */
   justify-content: center;
}
img.cadphoto{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #EE0909;
}
input[type="file"]{
  display: none;
}
label.photo{
      margin-top: 2%;
      margin-left: 35px;
      display: block;
      padding: 0px;
      /* background-image: url("../img/btngotalogo.png"); */
      background-repeat: no-repeat;
     
}
.btnphoto{
  margin-top: 2%;
    display: block;
    padding: 0px;
    background-image: url("../../img/btngotasilhueta.png");
    background-repeat: no-repeat;
    background-color: none;
   
}
#agendamentobtn{
  
}